h1, h2, p, a {
    text-align: center;
    font-family: 'OCR A';
    color: #0000FF;
}

#headerHeadline {
    font-family: 'OCR A';
    color: #0000FF;
    text-align: left;
    display: inline;
    position: fixed;
    left: 0;
    top: 10px;
    margin: 0;
}

#headerHeadlineText {
    vertical-align: 40px;
}

body {
    background-color: #FF1CAA;
}

.navLinks {
    padding-left: 2vw;
    font-size: 20px;
    vertical-align: -30px;
}

#navLinks {
    position: fixed;
    right: 300px;
}

main {
    width: 75%;
    background-color: #AAFFAA;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

#shoppingCart {
    position: fixed;
    right: 230px;
    top: 10px;
}

a {
    text-decoration: none;
}

.advertImage {
    max-width:75vw;
}

#top {
    background-color: #FF1CAA;
    text-align: right;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 90px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#contrastButton {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: 'OCR A';
    font-size: 18pt;
    padding: 8px;
}

.productsUl {
    display: grid;
    list-style-type: none;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px
}

.products {
    display: flex;
    flex-direction: column;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

.productName {
    margin-bottom: 5px;
}

.productType {
    margin-top: 0px;
}