h1, p, a {
    text-align: center;
    font-family: 'OCR A';
    color: #0000FF;
}

body {
    background-color: #FF1CAA;
}

.navLinks {
    text-align: center;
    padding-left: 2vw;
    font-size: 20px;
}

main {
    width: 75%;
    background-color: #AAFFAA;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

#shoppingCart {
    position: fixed;
    right: 13vw;
}

a {
    text-decoration: none;
}

.advertImage {
    max-width:75vw;
}

#top {
    background-color: #FF1CAA;
    text-align: center;
    position: fixed;
    width: 100vw;
    top: 0;
}

#contrastButton {
    position: fixed;
    left: 13vw;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: 'OCR A';
    font-size: 18pt;
    padding: 8px;
}